{% load static %}
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
                                      
        {% endblock title %}
    </title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">Data Backup Tool</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="{% url 'db_config' %}">DB Config</a>
          </li>
          
          
        </ul>
        
      </div>
    </div>
  </nav>
  
  {% block body %}
   
  {% endblock body %}



  <!-- Modal for Postgresql -->
  <div class="modal fade" id="Postgresqlmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Postgresql Database Configuration</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container p-3">
            <div class="row">
                <div class="col-lg-12 p-4 border" style="border-radius: 10px; background-color: #e6e6e6;">
                    <form method="POST" action="{% url 'db_config' %}">
                      {% csrf_token %}
                        <div class="mb-3">
                          <label  class="form-label">Database Vendors</label>
                          <select class="form-select form-select-sm" name="db_vendor" autofocus >
                            <option  disabled>--- Select Database Vendor ---</option>
                            <option value="1">SqlLite3</option>
                            <option value="2">Mysql</option>
                            <option selected value="3">Postgresql </option>
                          </select>
                          
                        </div>
                        <div class="mb-3">
                          <label  class="form-label">Database Name</label>
                          <input type="text" value="test" class="form-control form-control-sm" name="db_name" placeholder="Enter database name">
                        </div>
                        <div class="mb-3">
                          <label  class="form-label">Username</label>
                          <input value="postgres" type="text" class="form-control form-control-sm" name="db_user" placeholder="Enter database username">
                        </div>
    
                        <div class="mb-3">
                          <label  class="form-label">Password</label>
                          <input value="root" type="text" class="form-control form-control-sm" name="db_pass" placeholder="Enter database password">
                        </div>
    
                        <div class="mb-3">
                          <label  class="form-label">Host</label>
                          <input value="localhost" type="text" class="form-control form-control-sm" name="db_host" placeholder="Enter database host name">
                        </div>
    
                        <div class="mb-3">
                          <label  class="form-label">Port</label>
                          <input value="5432" type="text" class="form-control form-control-sm" name="db_port" placeholder="Enter database port number">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
